<!Doctype HTML>
<head>
        <title>Matchify</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<meta name ="viewport" content="width=device-width, initial-scale =1">
</head>
<body>
	{% for artist in artists %}
	<p>{{artist}}</p>
	<p>artist: {{artist.name}}, score: {{artist.popularity}}</p>
	<img src='{{artist.images[0].url}}'>
	{% endfor %}

	<p>{{profile}}</p>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>
