<!Doctype HTML>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <!--<div class="myNavBar">
        <div class ="topHalf">
            <div class = "center">
                <a href = "/home">
                    <img class ="offsetPic" src="/static/images/matchifyWord2.png">
                </a>
            </div>
        </div>

        <div class = "bottomHalf">
            <div class ="center">
                <div class= "a">
                    <div class = "bar">
                            <a href="/home" style="color:#1ED760">Home</a>
                            <a href='/matches' style='color:#1ED760'>Matches</a>
                            <a href='/updateAccountInfo' style='color:#1ED760'>Account Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="bg-dark">
      <div style="width:100%;text-align:center;padding:15px;">
        <a class="" href="/"><img style="width:500px" src="/static/images/matchifyWord2.png"></a>
      </div>
    </div>
    <div class="bg-dark">
      <h1 style="text-align:center;margin:0;margin-top:-30px;padding-bottom:20px">Love at first sound</h1>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
      <!-- Brand/logo -->

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/matches">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/updateAccountInfo">Account Info</a>
        </li>
        <li class="nav-item">
          <form id="logout" class="centered" action="/logout">
            <input class="btn btn-success form-control" onclick="logout()" type="button" value="Logout from Spotify">
          </form>
        </li>
      </ul>

    </nav>
    <script>
    function logout(){
      const url = 'https://accounts.spotify.com/en/logout';
      const spotifyLogoutWindow = window.open(url, 'Spotify Logout', 'width=700,height=500,top=40,left=40');
      setTimeout(function(){
        spotifyLogoutWindow.close();
        window.location = "/logout";
      }, 1000);
    }
  	</script>
</body>

</html>
