<!Doctype HTML>
<head>
        <title>Matchify</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Matchify</h1>
			<p><i>Love at first sound</i></p>
		</div>
	</div>
	<div class="container">

		<input class="btn btn-primary form-control" id="Login" type="button" value="Login">
		<div style="margin-top:15px"></div>
		<input class="btn btn-primary form-control" id="Create" type="button" value="Create an account">


        	<!--<form class="centered" action="login">
                	<input class="btn btn-primary form-control" type="submit" value="Login">
        	</form>
        	<br>
        	<form class="centered" action="createAccount">
                	<input class="btn btn-primary form-control" type="submit" value="Create an account">
        	</form>-->
		
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		function changeDisplay(id){
			
		}
	</script>
</body>
</html>

