<!Doctype HTML>
{% include "header.html" %}
<html>
<head>
    <title>Matchify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<meta name ="viewport" content="width=device-width, initial-scale =1">
</head>
<body>
  <div class="row">
    <div class="col-xl-6">
      <div style="text-align:center;margin-top:15px;">
        <h1 style="color:#1ED760">Your Top Tracks:</h1>
      </div>
      <table class="table table-dark" style="background-color:transparent;text-align:center">
        <thread>
          <tr>
            <th>Rank</th>
            <th>Art</th>
            <th>Track</th>
            <th>Artist(s)</th>
            <th>Populatrity</th>
          </tr>
        </thead>
        <tbody>
          {% for track in tracks %}
          <tr>
            <td>{{loop.index}}</td>
            <td><img src='{{track.album.images[0].url}}' width=64px></td>
            <td>{{track.name}}</td>
            <td>{% for artist in track.artists %}{% if loop.index != 1 %}, {% endif %}{{artist.name}}{% endfor %}</td>
            <td>{{track.popularity}}</td>
          </tr>
        	{% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-xl-6">
      <div style="text-align:center;margin-top:15px;">
        <h1 style="color:#1ED760">Your Top Artists:</h1>
      </div>
      <table class="table table-dark" style="background-color:transparent;text-align:center">
        <thread>
          <tr>
            <th>Rank</th>
            <th>Art</th>
            <th>Artist</th>
            <th>Genre(s)</th>
            <th>Populatrity</th>
          </tr>
        </thead>
        <tbody>
          {% for artist in artists %}
          <tr>
            <td>{{loop.index}}</td>
            <td><img src='{{artist.images[0].url}}' width=64px></td>
            <td>{{artist.name}}</td>
            <td>{% for genre in artist.genres%}{% if loop.index != 1 %}, {% endif %}{{genre}}{% endfor %}</td>
            <td>{{artist.popularity}}</td>
          </tr>
        	{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div style="padding-top:15px;"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>
