<!Doctype HTML>
<html>
<head>
    <title>Matchify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<meta name ="viewport" content="width=device-width, initial-scale =1">
</head>
<body>
  <div class="bg-dark">
    <div style="width:100%;text-align:center;padding:15px;">
      <a class="" href="/"><img style="width:500px" src="/static/images/matchifyWord2.png"></a>
    </div>
  </div>
  <div class="bg-dark">
    <h1 style="text-align:center;margin:0;margin-top:-30px;padding-bottom:20px">Love at first sound</h1>
  </div>
  <div style="position:absolute;top:0;height:inherit;text-align:centered;width:100%;">
  	<div style="width:50%;margin-left:auto;margin-right:auto;margin-top:420px">
  		<form class="centered" action="/auth">
          <input class="btn btn-success form-control" type="submit" value="Login to Spotify">
      </form>
  	</div>
  </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>
