<!Doctype HTML>
{% include "header.html" %}
<html>
    <head>
        <title>Matchify</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta name ="viewport" content="width=device-width, initial-scale =1">
    </head>
    </style>

    <body>
      <div style="padding-top:15px;"></div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form class="centered" action="/updateMatches">
              <input id="refresh" onclick="refreshPage()" class="btn btn-success form-control" type="button" value="Refresh Matches">
              <div id="loader" class="loader" style="display:none;margin-left:auto;margin-right:auto;"></div>
          </form>
        </div>
      </div>
      <div style="padding-top:15px;"></div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <table class="table table-dark" style="text-align:center" align="center" id="matches">
              <tr id = "0">
                  <th>Name</th>
                  <th>Matchify Score</th>
                  <th>More Information</th>
              </tr>
              <!--<tr id ="1">
                  <td>Photo</td>
                  <td>Beau Cross</td>
                  <td><img src="/static/images/matchify2100.png" width=32px></td>
                  <td><a href="/account?id=" class="expandAcc" style="padding:15px;"><img src="/static/img/more.png" width=32px></td></a>
              </tr>-->
	      {% for match in yourMatches %}
	      {% if match.score > 0 %}
	      <tr id ="1">
                  <td>{{match.name}}</td>
                  <td>{{match.score}}<div style=""><img style="height:{% if (match.score/300*32) > 32 %}32{% else %}{{match.score /300 * 32}}{% endif %}px;object-fit:cover;object-position:bottom;" src="/static/images/matchify2100.png" width=32px></div></td>
                  <td><a href="/account?id={{match.id}}" class="expandAcc" style="padding:15px;"><img src="/static/img/more.png" width=32px></td></a>
              </tr>
	      {% endif %}
	      {% endfor %}
          </table>
        </div>
      </div>
      <div style="padding-top:15px;"></div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
        function refreshPage(){
          document.getElementById("refresh").style.display = "none";
          document.getElementById("loader").style.display = "block";
          window.location = "/updateMatches";
        }
      </script>
    </body>

</html>
